.simple-tooltip {
    position: absolute;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    pointer-events: none;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
}
